.ItemDetail {
    padding: 1em;
    display:block;
    justify-content: center;
    list-style: none;
    height: 2500px;
    background: linear-gradient(45deg, rgb(131, 209, 29),rgb(67, 78, 47),rgb(135, 84, 253),rgb(250, 208, 19));
    
}
.FirstCol {
     padding: 12px 0px;
}
.FirstCol li{
    padding-top: 12px;
}
.FirstCol img{
    width: 80px;
    height: 80px;
}

.SecondCol{
    justify-content: center;
    display: flex;
}
.SecondCol img{
    width: 80%;
    height: 100%;
}

.ThirdCol{
    padding-top: 12px;
}
.InfoCard{
    width: '18rem';
    padding: 100px;
}
