.ItemDetail {
    padding: 1em;
    display: flex;
    justify-content: center;
    list-style: none;
    height: 700px;
    background-color: black;
    
}
.FirstCol {
     padding: 12px 0px;
}
.FirstCol li{
    padding-top: 12px;
}
.FirstCol img{
    width: 80px;
    height: 80px;
}

.SecondCol{
    justify-content: center;
    display: flex;
}
.SecondCol img{
    width: 80%;
    height: 100%;
}

.ThirdCol{
    padding-top: 12px;
}
.InfoCard{
    width: '18rem';
    padding: 100px;
}
/* Hovers */