*{
    padding:0;
    margin:0;
}
.barrahorizontal img{
    width: 63px;
    padding: 0px;
    float: left;
}
header{
    background: rgb(245, 244, 244);
    width: 100%;
    display: table;
    clear: both;
}
.Navegacion li{
    font-size: large;
    list-style: none;
    float: left;
    padding: 21px;
}
.barrahorizontal a{
    text-decoration: none;
    color: black;
}
.barrahorizontal li:hover{
    background: rgb(0, 0, 0);
    color: white;
}

.Carrito li{
    list-style: none;
    float: right;
}