.carousell img{
    height: 400px;
    max-width: 400px;
    background-color: black;
    text-align: center;
}
.carousell{
    /* height: auto; */
    width: 400px;
    background-color: rgb(0, 0, 0);
    
}