.carousell img{
    height: 400px;
    max-width: 400px;
    background-color: black;
    border-radius: 10%;
    text-align: center;
}
.carousell{
    /* height: auto; */
    width: 400px;
    background-color: black;
}