.ItemsContainer{
    text-align: center;
    padding: 1em;
    padding: 1em;
    display:block;
    justify-content: center;
    list-style: none;
    height: 1200px;
}
.ItemsContainer li{
    display:    inline-block;
    list-style: none; 
    margin: auto;
    padding: 2em;
}