.ItemsContainer{
    text-align: center;
    padding: 1em;
    background-color: rgb(0, 0, 0);
    /* max-width: 2000px; */
    
}
.ItemsContainer ul{

}
.ItemsContainer li{
    display:    inline-block;
    list-style: none; 
    margin: auto;
    padding: 2em;

}
.Loading{
    /* text-align: center; */
    /* margin: auto; */
}