@media (min-width: 728px){
    .ItemsContainer{
        display: flex;  
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    
}

.ItemsContainer{
    text-align: center;
    padding: 1em;
    padding: 1em;
    display:block;
    justify-content: center;
    list-style: none;
    
}
.ItemsContainer li{
    display:flex;
    list-style: none; 
    margin: auto;
    padding: 2em;
}
