.d-flex4{
    float: left;
    padding: 10px;
    margin: 0 35px;
    transition: transform .2s;
}
.d-flex4:hover{
    transform: scale(1.1)
}
.d-flex5{
    float: left;
    padding: 10px;
    margin: 0 35px;
    transition: transform .2s;
}
.d-flex5:hover{
    transform: scale(1.1)
}
.d-flex6{
    float: left;
    padding: 10px;
    margin: 0 35px;
    transition: transform .2s; 
}
.d-flex6:hover{
    transform: scale(1.1)
}