*{
    padding: 0px;
    margin:0;
}
.barrahorizontal img{
    width: 63px;
    padding: 0px;
    float: center;
}
header{
    background: rgb(247, 245, 245);
    width: 100%;
    display: table;
    clear: both;
    float: center;
}
.Navegacion li{
    font-size: large;
    list-style: none;
    float: left;
    padding: 21px;
}
.barrahorizontal a{
    text-decoration: none;
    color: black;
}
.barrahorizontal li:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding:100px;
}

.Carrito li{
    list-style: none;
    float: left;
    width: 100%;
    display: table;
    clear: both;
    padding: 300px;
}